.wrapper-list{
    width:300px;
}
.list-item{
    float: left;
    width: 140px;
    padding: 0px 10px;
    font-size: 12px;
}
.item-wrapper-img{
    text-align: center;
}
.item-img{
    width:140px;
    height:150px;
    transition: all .3s;
}
.item-img:hover{
    transform: scale(1.1);
}
.item-wrapper-name{
    height: 20px;
    line-height: 20px;
    margin: 10px 0px;
}
.item-wrapper-tips{
    color: #6C6F69;
}
.item-go{
    background-image: url(./images/go.jpg);
    background-repeat:  no-repeat;
    width: 67px;
    height: 20px;
    display: block;
    float: right;
}
.item-wrapper-tips em{
    color: #000;
}
